[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
scikit-learn = "==1.0.2"
flask = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
awsebcli = "*"
